// Creaza un mixin care sa
// poata genera CSS pentru clase ce
// vor fi aplicate pentru a randa elemente
// patrate, cercuri sau romburi

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin shape($shape: 'square') {
  display: inline-block;
  border: 1px solid #000;

  @if $shape == 'square' {
  } @else if $shape == 'circle' {
    border-radius: 50%;
  } @else {
    transform: rotate(45deg) skew(10deg, 10deg);
  }
}

.square {
  @include shape('square');
  @include size(10px, 10px);
}

.circle {
  @include shape('circle');
  @include size(10px, 10px);
}

.rhombus {
  @include size(10px, 10px);
  @include shape('rhombus');
}

@mixin bnt-dir($direction: 'left') {
  width: 0;
  height: 0;
  content: '';

  @if $direction == 'left' {
    border-top: 5px solid transparent;
    border-right: 10px solid black;
    border-bottom: 5px solid transparent;
  }
}

.button-left {
  &::before {
    @include bnt-dir('left');
  }
}
