.secondary-social-icons {
  display: inline-block;
  background: url('/img/banners/front.png') no-repeat center center;
  background-size: cover;
  height: 500px;
  left: 0;
  width: 1520px;
  opacity: 100%;

  .new-in {
    display: block;
    justify-content: end;
    align-content: flex-end;
    float: right;
    align-items: flex-end;
    position: relative;
    margin-top: 340px;
    margin-right: 90px;
    background-color: white;
    width: 100px;
    height: 50px;
    transition-duration: 0, 4s;
    border-radius: 25px;

    h1 {
      display: flex;
      justify-content: center;
      align-self: center;
    }

    &:hover {
      background-color: pink;
      border-radius: 25px;
    }
  }
}

.free-shipping {
  display: flex;
  justify-content: space-around;
  height: 50px;
  border-bottom: solid 1px whitesmoke;

  .angle-left {
    display: inline-block;
    align-items: flex-start;
    margin-left: 10px;
  }
}

.social-icons {
  height: 50px;
  text-align: left;
  font: normal normal normal;
  color: #000;
  opacity: 1;
  background: #fff 0% 0% no-repeat padding-box;

  h1,
  ul {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;
    margin-right: 10px;
    margin-top: 3px;

    li {
      margin-top: 10px;
      color: #5e5a5a;
      opacity: 100%;
    }

    p {
      margin-top: 5px;
      font: normal normal normal 16px/37px Playfair Display;
      letter-spacing: 0.24px;
      color: white;
      text-transform: uppercase;
      opacity: 1;
      width: 280;
      text-decoration: none;
    }
  }
}

.menu-bar {
  display: flex;
  background-color: #2b2b2b;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
  width: auto;
  margin-bottom: -21px;
}

.button-hover {
  transition-duration: 0.4s;
  margin-top: 3px;

  .navbar-toggler {
    width: 30px;
  }

  &:hover {
    background-color: purple;
    color: white;
  }
}

.search-button {
  margin-top: 20px;
  display: inline;
  opacity: 1;
  padding: 0, 180px, 0, 80px;
  border: white;

  .search {
    display: inline;
    margin-top: 30px;
    left: 114px;
    width: 800px;
    height: 300px;
  }
}

.menu-bars {
  background: #fff;
  opacity: 1;

  top: 94px;
  left: 35px;

  width: 1920px;
  height: 52px;
  display: block;
  background-color: #2b2b2b 0% 0% no-repeat padding-box;
  justify-content: space-around;
}

body {
  ul,
  li {
    list-style-type: none;
  }
}

.common-oferts {
  display: block;
  background-color: aqua;
}
