.row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

// Folosind @for si keywordul to genereaza clase de
// forma box-01 (box-02... box-10) pentru a
// stila elementele din primul rand, fiecare clasa
// trebuie sa ingroase cu 1px bordura elementelor
@for $i from 1 to 11 {
  $class-name: '.box';

  @if $i < 10 {
    $class-name: '.box-0#{$i}';
  } @else {
    $class-name: '.box-#{$i}';
  }

  #{$class-name} {
    border-width: $i + px;
  }
}
